* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: "Helvetica", sans-serif;
    background-color: gainsboro;
}

@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Lato');
$font: Aclonica, sans-serif;


