.word-row {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    h2 {
        width: 80%;
        text-align: center;
    }   
}

.wrong {
    border: 1px solid red !important;
}
