// .choice-div {
//     height: 50px;
//     background-color: #444;    
//     div {
//         width: 50%;
//         display: inline-flex;
//         justify-content: center;
//         align-items: center;
//         a {
//             color: #ddd;
//             font-weight: bold;
//             text-decoration: none;
//             padding: 1rem 1rem;
//             display: block;
//             line-height: 1;
//             text-align: center;
//             height: 100%;
//             width: 100%
//         }
//     }
// }

.word-row {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    h2 {
        width: 80%;
        text-align: center;
    }   
}

.wrong {
    border: 1px solid red !important;
}
