.table-div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
    font-size: 16px;
    th {
        background-color: slategray;
        color: white;
    }
    th, td {
        text-align: center;
        padding: 16px;
        border-bottom: 1px dotted slategray;
        word-wrap: break-word;
    }
    tr:nth-child(even) {
        background-color: #C4C7CB;
    }
}

/* RWD */

@media only screen and (max-width: 600px) {
	table, thead, tbody, th, td, tr { 
        display: block;
    }
    table {
        width: 100%;
    }
    td {
        width: 90% !important; 
    }
}