@import "global.scss";
@import "navigation.scss";
@import "intro.scss";
@import "learn.scss";
@import "review.scss";
@import "add.scss";




.show {
    margin-right: 10px;
    position: relative;
        background-color: #222;
        color: white;
        padding: 12px 20px;
        border: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        width: 25%;
        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0%;
            height: 3px;
            background: red;
            transition:  .2s width ease-in-out;
        }
        &::before {
            left: 0;
        }
        &:hover::after {
            width: 25%;
        }
    }



/* RWD */

@media only screen and (max-width: 600px) {
	table, thead, tbody, th, td, tr { 
        display: block;
	}
    td {
        width: 90% !important; 
    }

    .intro-div {
        width: 100%;
        // height: 100vh;
        display: flex;
        justify-content: center;
        // align-items: center;
        // .intro {
        //     position: absolute;
        //     top: 60%;
        //     left: 50%;
        // }
        .intro-text {
            margin-top: 8rem;
        }
    }

    .form-div {
        display: flex;
        justify-content: center;
        form {
            width: 80%;
            .col-25, .col-75 {
                width: 100%;
                margin-top: 0;
                display: flex;
                justify-content: center;
            }
            .col-25 {
                text-align: center;
            }
            .word-row {
                margin-top: 20px;
                margin-bottom: 10px;                
                display: flex;
                justify-content: center;
                h2 {
                    width: 80%;
                    text-align: center;
                    word-wrap: break-word;
                }
            }
            .submit-row, .button-row {
                display: flex;
                justify-content: center;
                button {
                    width: 100%;
                    margin-top: 20px;
                    &.show {
                        &::before, &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 0%;
                            height: 3px;
                            background: red;
                            transition:  .2s width ease-in-out;
                        }
                        &::before {
                            left: 0;
                        }
                        &:hover::before, &:hover::after {
                            width: 50%;
                        }
                    }
                    &.check {
                        &::before, &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 0%;
                            height: 3px;
                            background: red;
                            transition:  .2s width ease-in-out;
                        }
                        &::before {
                            left: 0;
                        }
                        &:hover::after {
                            width: 49%;
                        }
                    }  
                }
            }
        }
    }    
}

@media only screen and (min-width: 600px) {
    nav {
        display: flex;
        justify-content: space-between;
        background-color: #222;
        ul {
            display: flex;
            align-items: center;
            background: none;
            li {
                border-bottom: none;
                position: relative;
                a {
                    padding: 1.2rem 1rem;
                    border-bottom: none;
                    &.active {
                        border-bottom: 3px solid red !important;  
                    }
                }
            }
        }
        .logo {
            h1 {
                margin: .4rem 1rem;
            }
        }
    }
    table {
        width: 80%;
    }
    .form-div {
        display: flex;
        justify-content: center;
        form {
            width: 60%;
            .row {
                width: 100%;
                .col-25 {
                    float: left;
                    width: 20%;
                    margin-top: 6px;
                    text-align: right;
                }
                .col-75 {
                    float: left;
                    width: 80%;
                    margin-top: 6px;
                }
            }
            .row:after, .submit-row:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
}